*{background-color: rgb(246, 246, 246);}

.wrap {
    width: 100%;
    height: 90%;
    margin: 200px auto;
    overflow: hidden;
    background-color: rgb(246, 246, 246);
}
 
.slide {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #fff;
}

.slide-container .slide_on {
    margin-top: 20em;
    box-sizing: border-box;
}

.bx-viewport {
    height: 75em !important;
    background-color: #fff;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: -50px ; 
}

.slide img { width: auto; height: 95%; margin: 0 auto;}