/*모바일 네비 추가*/
header .open {display: none;}
header .close {display: none;}

/*모바일용 줄바꿈*/
br.mo {display: none;}

/*반응형 시작*/
/*테블릿모드 : 1100px이하~ 951px*/
@media screen and (max-width:1100px){
    .container {min-width: 100%;} 

    /* top_banner */
    .top_banner { height: 48px; line-height: 50px;}

    /* 섹션 : visual - slide */
    section.visual { margin-top: 58px;}
    section.visual .img .img-box{ height: 100%; width: auto;}
    section.visual .title { left: 5%; }
    section.visual .title h2 { font-size: 38px;}
    .slick-dots { right: 2.5%;}

    /* 섹션 : about - letter */
    section.about .letter h2 { font-size: 32px;}
    section.about .letter p { font-size: 18px;}

    /* 섹션 : gallery */
    section.gallery { width: 100%; height: 800px;}
    section.gallery .title { left: 5%;}
    section.gallery .txtImg { left: 5px;}

    /* 섹션 : map */
    section.map {width: 100%; height: 600px;}
    section.map img { width: 100%;}
    section.map .inner {height: 45em; margin-top: 300px;}
    section.map .inner h2 { font-size: 23px;}
    section.map .inner ul {width: 80%;}
    section.map .inner .traffic {width: 40%;}
    section.about .inner ul li:nth-child(3){margin-left: 25%;}

    /* 섹션 : call */
    section.call { margin-top: 60%;}
    /* section.call ul li { margin-top: 5%; padding: 10px; font-size: 15px;} */
    /* section.call ul li img:after { display: none;} */
    /* section.call .P-phone .box { width: 100%; height: 60px;} */
    /* section.call .P-phone .box h2 { width: 15em; height: 2.8em; font-size: 20px; margin-left: 40%; line-height: 2.8;} */
}

/*950px 이하 - 751px 테블릿 참고*/
@media screen and (max-width:950px){

    /* top_banner */
    .top_banner { height: 50px; line-height: 45px; font-size: 1.3rem;}

    /* 섹션 : visual - slide */
    /* section.visual { margin-top: 50px; }
    section.visual .img { width: 92%;}
    section.visual .title h2 { font-size: 33px;}
    section.visual .title p { font-size: 18px;} */
    section.visual .img {width: 92%;}

    /* 섹션 : about - letter */
    section.about .letter h2 { font-size: 30px;}
    section.about .letter p { font-size: 16px;}

    /* 섹션 : gallery */
    section.gallery { width: 100%; height: 800px; margin-top: 90px;}
    section.gallery .title { width: 100%; left: 5%; top: 100px;}
    section.gallery .txtImg { height: 60px; left: 20px; top:62%;}
    section.premium .txtImg img { height: 100%;}
    section.gallery .banner { position: relative; width: 80%; left: 50%; transform: translateX(-50%);top:30%; height: 500px;}
    section.gallery .banner li:nth-child(1).motion {left: 15%; width: 24%;}
    section.gallery .banner li:nth-child(2).motion {left: 8%; width: 32%;}
    section.gallery .banner li:nth-child(3).motion {left: 62%; width: 28%;}
    section.gallery .banner li:nth-child(4).motion {left: 50%; width: 60%; top: 4%;}

    /* 섹션 : map */
    /* section.map {width: 100%; height: 600px;} */
    section.map img { width: 100%; }
    section.map {height: 510px;}
    /* section.map .inner {height: 33em; margin-top: 230px;} */
    section.map .inner h2 { font-size: 21px;}
    section.map .inner ul {width: 95%;}
    section.map .inner ul li {width: 33.3333%; font-size: 13px;}
    section.map .inner .traffic {width: 60%;}

    /* 섹션 : call */
    section.call .phone h2 { font-size: 18px;}
    section.call .phone ul li { margin-top: 5%; padding: 10px; margin-bottom: 5px; margin-left: 20%;}
    section.call .phone ul li img { width: 3em;}
    section.call .phone ul li .pay { width: 3.8em; padding: 8px;}
    section.call .phone ul li img:after {display: none;}
    section.call .P-phone .box { width: 100%; height: 60px;}
    section.call .P-phone .box h2 { width: 15em; height: 2.8em; font-size: 20px; margin-left: 33%; line-height: 2.8;}
    section.call .P-phone .gr-box { margin-left: 80px;}
    section.call .P-phone .gr-box ul li { font-size: 18px; }
    section.call .P-phone .gr-box ul li img { width: 2.5em;}
    section.call .P-phone .gr-box ul li .pay { width: 3em; padding: 7px; border-radius: 13px;}
    section.call .P-phone .br-box { margin-right: 80px;}
    section.call .P-phone .br-box ul li { font-size: 18px; }
    section.call .P-phone .br-box ul li img { width: 2.5em;}
    section.call .P-phone .br-box ul li .pay { width: 3em; padding: 7px; border-radius: 13px;}
}

/* 750px 이하 - 모바일 디바이스 체크 */  
@media screen and (max-width:750px){
    /* top_banner */
    .top_banner { height: 39px; line-height: 40px; font-size: 1rem;}

    /* 섹션 : visual - slide */
    section.visual { height: 45vh; overflow: hidden;}
    /* section.visual:before { width: 55%; height: 65%; top: 16%;} */
    section.visual .img { height: 87%;}
    section.visual .img .img-box { width: auto;}
    section.visual .page img {width: 75%; height: auto; margin-left: 8%;}
    section.visual .title h2 {font-size: 25px;}
    section.visual .title p {font-size: 16px;}
    .slick-dots { right: 20px;}

    /* 섹션 : about - letter */
    section.about .letter h2 { padding: 45px;}

    /* 섹션 : map */
    section.map {width: 100%; height: 600px;}
    section.map img { width: 100%; }
    section.map .inner {height: 57em; margin-top: 34%;}
    section.map .inner h2 { font-size: 21px;}
    section.map .inner .traffic {width: 60%;}
    section.map .inner ul {width: 75%;}
    section.map .inner ul li {width: 33.3333%;}
    section.map .inner ul li h3 {font-size: 21px;}
    section.map .inner ul li p { font-size: 15px;}

    /* 섹션 : call */
    section.call .phone h2 { font-size: 17px;}
    section.call .phone ul li { width: 30%; margin-left: 14%; margin-top: 1.5%;}
    section.call .phone ul li img { width: 23%; padding: 5px;}
    section.call .phone ul li .pay { width: 33%;}
    section.call .phone ul li img:after {display: none;}
    section.call .P-phone .box { width: 100%; height: 40%;}
    section.call .P-phone .box h2 { width: 15em; height: 2.5em; font-size: 17px; margin-left: 33%; line-height: 2;}
    section.call .P-phone .gr-box { width: 45%; margin-left: 2%;}
    section.call .P-phone .gr-box ul li { font-size: 16px; margin: 0;}
    section.call .P-phone .gr-box ul li img { width: 15%;}
    section.call .P-phone .gr-box ul li .pay { width: 18%;}
    section.call .P-phone .br-box { width: 45%; margin-right: 2%;}
    section.call .P-phone .br-box ul li { font-size: 16px; margin: 0;}
    section.call .P-phone .br-box ul li img { width: 15%;}
    section.call .P-phone .br-box ul li .pay { width: 18%;}
}
/* 640~587 */
@media screen and (max-width:650px){
    /* top_banner */
    .top_banner { height: 40px; line-height: 40px; font-size: 1rem;}

    /* 섹션 : visual - slide */
    section.visual { height: 38vh; overflow: hidden;}
    /* section.visual:before { width: 55%; height: 65%; top: 16%;} */
    section.visual .img { height: 87%;}
    section.visual .img .img-box { width: auto;}
    section.visual .page img {width: 68%; height: auto; margin-left: 8%;}
    section.visual .title h2 {font-size: 25px;}
    section.visual .title p {font-size: 16px;}
    .slick-dots { right: 20px;}

    /* 섹션 : about - letter */
    section.about .letter h2 { padding: 45px;}

    /* 섹션 : map */
    section.map {width: 100%; height: 580px;}
    section.map img { width: 100%; }
    section.map .inner {height: 57em; margin-top: 34%;}
    section.map .inner h2 { font-size: 21px;}
    section.map .inner .traffic {width: 70%;}
    section.map .inner ul {width: 75%;}
    section.map .inner ul li {width: 33.3333%;}
    section.map .inner ul li h3 {font-size: 21px;}
    section.map .inner ul li p { font-size: 15px;}

    /* 섹션 : call */
    section.call .phone h2 { font-size: 17px;}
    section.call .phone ul li { width: 30%; margin-left: 14%; margin-top: 1.5%;}
    section.call .phone ul li img { width: 23%; padding: 5px;}
    section.call .phone ul li .pay { width: 33%;}
    section.call .phone ul li img:after {display: none;}
    section.call .P-phone .box { width: 100%; height: 40%;}
    section.call .P-phone .box h2 { width: 15em; height: 2.5em; font-size: 17px; margin-left: 33%; line-height: 2.5;}
    section.call .P-phone .gr-box { width: 45%; margin-left: 2%;}
    section.call .P-phone .gr-box ul li { font-size: 16px; margin: 0;}
    section.call .P-phone .gr-box ul li img { width: 15%;}
    section.call .P-phone .gr-box ul li .pay { width: 18%;}
    section.call .P-phone .br-box { width: 45%; margin-right: 2%;}
    section.call .P-phone .br-box ul li { font-size: 16px; margin: 0;}
    section.call .P-phone .br-box ul li img { width: 15%;}
    section.call .P-phone .br-box ul li .pay { width: 18%;}
}

/* 640~587 */
@media screen and (max-width:550px){
    /* top_banner */
    .top_banner { height: 40px; line-height: 40px; font-size: 1rem;}

    /* 섹션 : visual - slide */
    section.visual { height: 30vh; overflow: hidden;}
    .slick-dots li button {width: 8px; height: 8px;}

    /* 섹션 : gallery */
    section.gallery .banner li:nth-child(1).motion {left: 3%; width: 35%;}
    section.gallery .banner li:nth-child(2).motion {left: 0; width: 50%;}
    section.gallery .banner li:nth-child(3).motion {left: 58%; width: 40%; top: 52%;}

    /* 섹션 : map */
    section.map .inner {height: 65em; margin-top: 34%;}
    section.map .inner ul li h3 {font-size: 19px;}
    section.map .inner ul li p { font-size: 14px; padding: 10px}
    
    /* 섹션 : call */
    section.call { margin-top: 50%;}
    section.call .phone h2 { font-size: 16px; margin-bottom: 13px;}
    section.call .phone ul li { width: 30%; margin-left: 14%; margin-top: 1.5%;}
    section.call .phone ul li img { width: 22%; padding: 5px;}
    section.call .phone ul li .pay { width: 30%;}
    section.call .phone ul li img:after {display: none;}
    section.call .P-phone .box { width: 100%; height: 30%;}
    section.call .P-phone .box h2 { width: 15em; height: 2.2em; font-size: 16px; margin-left: 30%; line-height: 1;}
    section.call .P-phone .gr-box { width: 45%; margin-left: 2%;}
    section.call .P-phone .gr-box h2{ font-size: 16px;}
    section.call .P-phone .gr-box ul li { font-size: 16px; margin: 0;}
    section.call .P-phone .gr-box ul li img { width: 13%;}
    section.call .P-phone .gr-box ul li .pay { width: 18%;}
    section.call .P-phone .br-box { width: 45%; margin-right: 2%;}
    section.call .P-phone .br-box h2{ font-size: 16px;}
    section.call .P-phone .br-box ul li { font-size: 16px; margin: 0;}
    section.call .P-phone .br-box ul li img { width: 13%;}
    section.call .P-phone .br-box ul li .pay { width: 18%;}
}

/* 640~587 */
@media screen and (max-width:450px){
     /* top_banner */
     .top_banner { height: 30px; line-height: 30px; font-size: 0.8rem;}

     /* 섹션 : visual - slide */
     section.visual { height: 40vh; overflow: hidden; margin-top: 40px; padding-bottom: 30px;}
     section.visual::before { width: 63%; height: 200px; top: 50px; }
     .slick-dots li button {width: 6px; height: 6px; margin-bottom: 8px;}
     section.visual .title h2 {font-size: 18px;}
     section.visual .title p {font-size: 10px;}
     .slick-dots { right: 10px; bottom: 2px;}

     /* 섹션 : about - letter */
    section.about { margin: 10px auto;}
    section.about .letter h2 { font-size: 22px; padding: 0; margin-bottom: 50px;}
    section.about .letter p { font-size: 13px; padding: 3px;}
 
     /* 섹션 : gallery */
     section.gallery { margin: 140px auto; padding: 10px 0; height: 650px;}
     section.gallery .title a { font-size: 18px;}
     section.gallery .title a::before { width: 70px; height: 13px;}
     section.gallery .banner { height: 570px;}
     section.gallery .banner li:nth-child(1).motion {left: 3%; width: 30%;}
     section.gallery .banner li:nth-child(2).motion {left: 0; width: 40%; top: 52%;}
     section.gallery .banner li:nth-child(3).motion {left: 58%; width: 40%; top: 62%;}
     section.gallery .banner li:nth-child(4).motion {left: 47%; width: 60%; top: 24%;}
 
     /* 섹션 : map */
     section.map .inner {height: 60em; margin-top: 12%;}
     section.map .inner h2 {font-size: 16px;}
     section.map .inner ul li { width: 33%;}
     section.map .inner ul li h3 { font-size: 13px;}
     section.map .inner ul li p { font-size: 10px; padding: 5px}
     section.map .inner .traffic { margin: 60px;}
     
     /* 섹션 : call */
     section.call { height: 320px; margin-top: 15%;}
     section.call .phone h2 { font-size: 14px; margin-bottom: 10px;}
     section.call .phone ul li { width: 30%; margin-left: 10%; margin-top: 0;}
     section.call .phone ul li img { width: 27%; padding: 1px;}
     section.call .phone ul li .pay { width: 31%;  height: 25px; padding: 4px; border-radius: 22%;}
     section.call .phone ul li img:after {display: none;}
     section.call .P-phone .box { width: 100%; height: 35%;}
     section.call .P-phone .box h2 { width: 15em; height: 2.2em; font-size: 16px; margin-left: 20%; line-height: 2;}
     section.call .P-phone .gr-box { width: 40%; margin-left: 1%; padding: 0;}
     section.call .P-phone .gr-box hr{ margin-bottom: 15px;}
     section.call .P-phone .gr-box h2{ font-size: 13px;}
     section.call .P-phone .gr-box ul li { font-size: 10px; margin: 0;}
     section.call .P-phone .gr-box ul li b{ margin-right: 0;}
     section.call .P-phone .gr-box ul li img { width: 14%; padding: 1px;}
     section.call .P-phone .gr-box ul li .pay { width: 18%; height: 1em; padding: 0;}
     section.call .P-phone .br-box { width: 40%; margin-right: 1%; padding: 0;}
     section.call .P-phone .br-box h2{ font-size: 13px;}
     section.call .P-phone .br-box ul li { font-size: 10px; margin: 0;}
     section.call .P-phone .br-box ul li b{ margin-right: 0;}
     section.call .P-phone .br-box ul li img { width: 14%; padding: 1px}
     section.call .P-phone .br-box ul li .pay { width: 18%; height: 1em; padding: 0;}
}

/* 640~587 */
@media screen and (max-width:360px){
    /* top_banner */
    .top_banner { height: 30px; line-height: 30px; font-size: 0.8rem;}

    /* 섹션 : visual - slide */
    section.visual { height: 40vh; overflow: hidden; margin-top: 40px; padding-bottom: 30px;}
    section.visual::before { width: 63%; height: 200px; top: 50px; }
    .slick-dots li button {width: 6px; height: 6px; margin-bottom: 8px;}
    section.visual .title h2 {font-size: 18px;}
    section.visual .title p {font-size: 10px;}
    .slick-dots { right: 10px; bottom: 2px;}

    /* 섹션 : about - letter */
   section.about { margin: 10px auto;}
   section.about .letter h2 { font-size: 22px; padding: 0; margin-bottom: 50px;}
   section.about .letter p { font-size: 13px; padding: 3px;}

    /* 섹션 : gallery */
    section.gallery { margin: 140px auto; padding: 10px 0; height: 650px;}
    section.gallery .title a { font-size: 18px;}
    section.gallery .title a::before { width: 70px; height: 13px;}
    section.gallery .banner { height: 570px;}
    section.gallery .banner li:nth-child(1).motion {left: 3%; width: 30%;}
    section.gallery .banner li:nth-child(2).motion {left: 0; width: 40%; top: 52%;}
    section.gallery .banner li:nth-child(3).motion {left: 58%; width: 40%; top: 62%;}
    section.gallery .banner li:nth-child(4).motion {left: 47%; width: 60%; top: 24%;}

    /* 섹션 : map */
    section.map .inner {height: 64em; margin-top: 12%;}
    section.map .inner h2 {font-size: 16px;}
    section.map .inner ul li { width: 33.3333%;}
    section.map .inner ul li h3 { font-size: 13px;}
    section.map .inner ul li p { font-size: 10px; padding: 5px}
    section.map .inner .traffic { margin: 60px;}
    
    /* 섹션 : call */
    section.call { height: 320px; margin-top: 15%;}
    section.call .phone h2 { font-size: 13px; margin-bottom: 13px;}
    section.call .phone ul li { width: 30%; margin-left: 10%; margin-top: 5%;}
    section.call .phone ul li img { width: 27%; padding: 1px;}
    section.call .phone ul li .pay { width: 31%;  height: 25px; padding: 4px; border-radius: 22%;}
    section.call .phone ul li img:after {display: none;}
    section.call .P-phone .box { width: 100%; height: 35%; margin-top: 48%;}
    section.call .P-phone .box h2 { width: 15em; height: 2.2em; font-size: 14px; margin-left: 22%; line-height: 2;}
    section.call .P-phone .gr-box { width: 40%; margin-left: 1%; padding: 0;}
    section.call .P-phone .gr-box hr{ margin-bottom: 15px;}
    section.call .P-phone .gr-box h2{ font-size: 13px;}
    section.call .P-phone .gr-box ul li { font-size: 10px; margin: 0;}
    section.call .P-phone .gr-box ul li b{ margin-right: 0;}
    section.call .P-phone .gr-box ul li img { width: 14%;}
    section.call .P-phone .gr-box ul li .pay { width: 18%; height: 1em; padding: 0;}
    section.call .P-phone .br-box { width: 40%; margin-right: 1%; padding: 0;}
    section.call .P-phone .br-box h2{ font-size: 13px;}
    section.call .P-phone .br-box ul li { font-size: 10px; margin: 0;}
    section.call .P-phone .br-box ul li b{ margin-right: 0;}
    section.call .P-phone .br-box ul li img { width: 14%;}
    section.call .P-phone .br-box ul li .pay { width: 18%; height: 1em; padding: 0;}
}

/* 320px 이하  - 280px  체크 - 개발자도구에서 갤럭시 폴드 기종 추가 */ 
@media screen and (max-width:280px) {
    /* top_banner */
    .top_banner { height: 30px; line-height: 30px; font-size: 0.8rem;}

    /* 섹션 : visual - slide */
    section.visual { height: 16vh; overflow: hidden; margin-top: 35px;}
    /* section.visual:before { top: 30px;} */
    section.visual .img { width: 87%;}
    section.visual .img .img-box { width: auto;}
    section.visual .page img {width: 40%; height: auto; margin-left: 18%;}
    section.visual .title h2 {font-size: 13px; margin-bottom: 8px;}
    section.visual .title p {font-size: 8px;}
    .slick-dots li button { width: 5px; height: 5px; margin-bottom: 1px;}
    .slick-dots { right: 18px; bottom: 0.1em;}
    
    /* 섹션 : about - letter */
    section.about .letter h2 { padding: 25px; font-size: 22px;}
    section.about .letter p { font-size: 12px;}

    /* 섹션 : gallery */
    section.gallery { width: 100%; height: 400px; padding: 0; margin: 0;}
    section.gallery .title { left: 5%; top: 18%;}
    section.gallery .title h2 { font-size: 23px; margin-bottom: 30px;}
    section.gallery .title p { font-size: 13px; margin-bottom: 15px;}
    section.gallery .title a { font-size: 15px;}
    /* section.gallery .title a:before { width: 55px; height: 8px;} */
    section.gallery .txtImg { left: 5px; top: 10px;}
    section.gallery .txtImg img { width: 70%; }
    section.gallery .banner { position: relative; width: 80%; left: 50%; transform: translateX(-50%); height: 210px;}
    section.gallery .banner li:nth-child(1).motion {left: 6%; width: 42%; top: 42%;}
    section.gallery .banner li:nth-child(2).motion {left: 1%; width: 60%; top: 82%}
    section.gallery .banner li:nth-child(3).motion {left: 68%; width: 38%;}
    section.gallery .banner li:nth-child(4).motion {left: 52%; width: 58%; top: 4%;}

    /* 섹션 : map */
    section.map img { width: 100%; }
    section.map {width: 100%; height: 310px;}
    section.map .inner {height: 51em; margin-top: 230px;}
    section.map .inner h2 { font-size: 14px;}
    section.map .inner .traffic {width: 70%; margin: 50px auto;}
    section.map .inner ul { width: 100%;}
    section.map .inner ul li { width: 33.3333%;}
    section.map .inner ul li h3 {font-size: 12px;}
    section.map .inner ul li p { font-size: 6px; padding: 6px;}

    /* 섹션 : call */
    section.call { margin-top: 70%;;}
    section.call .phone h2 { font-size: 12px;}
    section.call .phone ul li { width: 30%; margin-top: 5%; padding: 5px; margin-bottom: 5px; margin-left: 8%;}
    section.call .phone ul li img { width: 30%;}
    section.call .phone ul li .pay { width: 1.8em; height: 1.4em; padding: 1px; border-radius: 5px; margin-left: 6px;}
    section.call .phone ul li img:after {display: none;}
    section.call .P-phone .box { width: 100%; height: 40px;}
    section.call .P-phone .box h2 { width: 10em; height: 4em; font-size: 10px; margin-left: 32%; line-height: 2;}
    section.call .P-phone .gr-box { width: 40%; margin-left: 3px;}
    section.call .P-phone .gr-box h2 {  font-size: 13px; }
    section.call .P-phone .gr-box ul li { font-size: 12px; }
    section.call .P-phone .gr-box ul li img { width: 2em;}
    section.call .P-phone .gr-box ul li .pay { width: 3.5em; padding: 5px; border-radius: 11px;}
    section.call .P-phone .br-box { margin-right: 30px;}
    section.call .P-phone .br-box ul li { font-size: 18px; }
    section.call .P-phone .br-box ul li img { width: 2em;}
    section.call .P-phone .br-box ul li .pay { width: 3.5em; padding: 5px; border-radius: 11px;}
    


}